body{
    margin:0;
    background-color: rgb(22, 22, 70);
}
.cell{
    box-sizing: border-box;
    border-left:1px solid rgba(128, 128, 128, 0.521);
    border-top:1px solid rgba(128, 128, 128, 0.521);
    
    min-width:2px;
    min-height:2px;
    height:100%
    
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    gap:30px;
    
}
.btn{
    display: flex;
    gap:50px;
}
.groupBtn{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.btn>button{
    background-color: inherit;
    color:white;
    border-radius: 5px;
    padding:5px 20px;
    width:150px;
}
.pole{
    display:flex;
    justify-content: center;
    height:350px;
    width: 350px;
    border:1px solid black;
      
}
